* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #010101;
  font-family: "Hahmlet", serif;
}

.landing-page {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #010101;
}

.landing-page img {
  width: 300px;
  height: 100px;
  cursor: pointer;
  animation: up-down 1.4s infinite ease-in-out alternate;
}

@keyframes up-down {
  from {
    transform: translatey(1rem);
  }
  to {
    transform: translatey(-1rem);
  }
}

.landing-page p {
  margin: 40px 0;
  color: #d3d1d3;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all ease-in 0.5s;
}

main .bg-txt {
  z-index: -1;
  color: #f8f9f9;
  text-align: center;
}

.information {
  position: absolute;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  width: 350px;
  height: 450px;
  margin: 10px;
  background-color: rgba(19, 19, 19, 0.884);
  border-radius: 10px;
}

.information h2 {
  margin: 20px;
  padding: 0 4px;
  background-color: rgb(255, 4, 213);
  color: rgb(0, 255, 55);
  animation: knock-knock 1.4s infinite ease-in-out alternate;
}

@keyframes knock-knock {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.information .dancing {
  width: 300px;
}

.information p {
  width: 300px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: rgb(4, 255, 117);
  font-size: 16px;
  font-family: "Special Elite", cursive;
  font-weight: 700;
}

.audioButton {
  all: unset;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #f8f9f9;
  padding: 8px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    height: 100%;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}

@media screen and (min-width: 1024px) {
  .bg-txt {
    letter-spacing: 0.3rem;
    font-size: 24px;
  }
}
